<h1 style="text-align: center;"><%= @haiku.title %></h1>

<<<<<<< HEAD
<p><%= @haiku.poem %></p>
<p><%= "Their id is #{@haiku.id}" %></p>

<%= link_to "Edit This Haiku", "/haikus/#{@haiku.id}/edit" %>
=======
<hr />

<%= simple_format(@haiku.poem) %>

<hr />
<%= link_to "Edit This Haiku", "/haikus/#{@haiku.id}/edit" %>
<br />

<%= link_to 'Delete This Haiku', [@haiku], method: :delete %>
>>>>>>> 7e5095624281b0c7558dee865bdd5a9129d52775
